/* Importar estilos a iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/heyam');
@import url("https://fonts.cdnfonts.com/css/gunship");

/* Colores */
:root{
    --bg-color: #dfced7;
    --text-color: #000;
    --main-color: #C9B1BD;
    --header-color: #f0f0f0;
    --logo-color: #2B2D42;
    --bestSeller-color: #008000;
    --sales-color: #D90429;
    --hover-color: #8D99AE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(colorcito.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    padding: 20px 4%;
    transition: all .50s ease;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 5rem;
    transition: all .2s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--text-color);
}

.container-two {
    background-color: white;
    padding: 30px;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 550px;
}

h2{

  color: #000000;
  -webkit-text-stroke: 0.4px;
        font-family: 'Heyam', sans-serif;
        font-weight: 60;
  text-align: center;
  
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.login-button{
    color: #000000;
    -webkit-text-stroke: 0.4px;
          font-weight: 50;
          text-align: center;
          justify-content: center;
          display: flex;
          gap: 0.5em;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0000002b;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    -webkit-animation: rainbow 5s linear infinite;
    animation: rainbow 5s linear infinite;
}
@-webkit-keyframes rainbow {
    0% {
        color: #9e0142
    }

    11% {
        color: #5e4fa2
    }

    22% {
        color: #3288bd
    }

    33% {
        color: #66c2a5
    }

    44% {
        color: #abdda4
    }

    55% {
        color: #ffd769
    }

    66% {
        color: #fdae61
    }

    77% {
        color: #f46d43
    }

    88% {
        color: #d53e4f
    }

    100% {
        color: #9e0142
    }
}

@keyframes rainbow {
    0% {
        color: #9e0142
    }

    11% {
        color: #5e4fa2
    }

    22% {
        color: #3288bd
    }

    33% {
        color: #66c2a5
    }

    44% {
        color: #abdda4
    }

    55% {
        color: #ffd769
    }

    66% {
        color: #fdae61
    }

    77% {
        color: #f46d43
    }

    88% {
        color: #d53e4f
    }

    100% {
        color: #9e0142
    }
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 5rem;
    transition: all .2s ease;
}
.logo:hover {
    transform: scale(1.1);
    color: var(--text-color);
}
.navbar {
    display: flex;

    a {
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: 500;
        padding: 5px 0;
        margin: 0 20px;
        transition: all .50s ease;
}
}

.main-nav{
    display: flex;
    align-items: center;

    a {
        color: var(--text-color);
        margin-right: 14px;
        margin-left: 5px;
        font-size: 1.5rem;
        transition: all .50s ease;
        align-items: center;
    }

}

.favorites-btn i {
    margin-right: 15px;
}

.cart-btn i {
    margin-right: 6.5rem;
}

header a:hover{
    color: var(--hover-color);
}
#menu-icon {
    font-size: 1.75rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
    transition: all .175s ease;
}
#menu-icon:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

main {
    margin-top: 5em;
    transition: all .50 ease;
}
.new-choose-bar {
    background-color: var(--main-color);
    text-align: center;
    padding: .75em 0;

    a {
        color: var(--header-color);
        font-size: .9rem ;
    }
    a:hover {
        text-decoration: underline;
    }
}

.container-logo-img {
    width: 12%;
    top: 20%;
    left: 50%;
    transform: translate(-120px, 35px);
    position: absolute;
}

.logo-img,
.shoe-img {
    width: 140%;
}

